<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <app-reusable>
        <h1 class="1">one</h1>
        <h1 class="2">Two</h1>
      </app-reusable>
    </div>
    <div class="col-sm-6">
      <app-reusable>
        <h1 class="1">Mew</h1>
        <h1 class="2">Maw</h1>
      </app-reusable>
    </div>
  </div>
</div>
<!-- <button class="btn btn-primary">Hi</button> -->

<!-- <h1>Movie ticket booking</h1>
   create and set an aria attribute for assistive technology -->
<!-- <button type="button" [attr.aria-label]="actionName">{{actionName}} with Aria</button> -->
<!-- <button type="button" [value]="actionName">{{actionName}} with Aria</button> -->

<!-- <ul> -->
<li><a routerLink="admin/user1">User1</a></li>
<li><a routerLink="admin/user2">User2</a></li>
<!-- <li><a routerLink="reusable">Resuable</a></li> -->
<!-- </ul> -->
<!-- <hr> -->
<!-- <app-child1 [data]="DatainParent" (myEvent)="onEvent($event)"></app-child1> -->
<!-- {{info}} -->
<!-- <hr> -->
<!-- <app-view-child></app-view-child> -->
<!-- <hr> -->
<!-- <app-one #tempref></app-one> -->
<!-- <h3>Mausami:{{s}}</h3> -->
<router-outlet></router-outlet>
<!-- <hr> -->
<!-- <app-view-childern></app-view-childern> -->
<!-- <hr> -->
<!-- <hr>  -->